In [3]:
%time
squares = []
for i in range(5):
    squares.append(i**2)

print(squares)

CPU times: user 3 µs, sys: 6 µs, total: 9 µs
Wall time: 29.8 µs
[0, 1, 4, 9, 16]

In [4]:
%time
squares = [i**2 for i in range(5)]
print(squares)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.91 µs
[0, 1, 4, 9, 16]

In [2]:
import numpy as np
import pandas as pd
ndarray = np.random.randint(5, size=(5, 4))
pd.DataFrame(data=ndarray)

   0  1  2  3
0  0  4  1  2
1  1  3  4  1
2  2  1  1  2
3  1  0  3  2
4  3  1  0  3

In [5]:
%magic