# indexを変える

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index =['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
#  reindexを使って、indexを変えられます。
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
# 新しいindexの値を埋めることもできます。
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
# ffillは、forward fillの略です。
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.252678 -1.102756 -0.526810  0.440062  0.486669
B  0.443717  0.440242  1.940044 -1.076689  0.805319
D -0.981157 -0.949519 -1.149386 -1.406948  0.512397
E -0.063196  0.231687  1.026343  0.703681  0.502240
F -0.734133  0.804084 -0.681429  0.884078 -0.076184

In [12]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A -0.252678 -1.102756 -0.526810  0.440062  0.486669
B  0.443717  0.440242  1.940044 -1.076689  0.805319
C       NaN       NaN       NaN       NaN       NaN
D -0.981157 -0.949519 -1.149386 -1.406948  0.512397
E -0.063196  0.231687  1.026343  0.703681  0.502240
F -0.734133  0.804084 -0.681429  0.884078 -0.076184

In [13]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.252678 -1.102756 -0.526810  0.440062  0.486669   NaN
B  0.443717  0.440242  1.940044 -1.076689  0.805319   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.981157 -0.949519 -1.149386 -1.406948  0.512397   NaN
E -0.063196  0.231687  1.026343  0.703681  0.502240   NaN
F -0.734133  0.804084 -0.681429  0.884078 -0.076184   NaN

In [14]:
dframe

       col1      col2      col3      col4      col5
A -0.252678 -1.102756 -0.526810  0.440062  0.486669
B  0.443717  0.440242  1.940044 -1.076689  0.805319
D -0.981157 -0.949519 -1.149386 -1.406948  0.512397
E -0.063196  0.231687  1.026343  0.703681  0.502240
F -0.734133  0.804084 -0.681429  0.884078 -0.076184

In [22]:
dframe.reindex(new_index)

       col1      col2      col3      col4      col5
A -0.252678 -1.102756 -0.526810  0.440062  0.486669
B  0.443717  0.440242  1.940044 -1.076689  0.805319
C       NaN       NaN       NaN       NaN       NaN
D -0.981157 -0.949519 -1.149386 -1.406948  0.512397
E -0.063196  0.231687  1.026343  0.703681  0.502240
F -0.734133  0.804084 -0.681429  0.884078 -0.076184