# データの統計量

In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
arr = np.array([[1,2,np.nan],[np.nan, 3,4]])
arr

array([[ 1.,  2., nan],
       [nan,  3.,  4.]])

In [3]:
dframe1 = DataFrame(arr, index=['A','B'], columns=['One','Two','Three'])
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [4]:
dframe1.sum()

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [5]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [6]:
dframe1.min()

One      1.0
Two      2.0
Three    4.0
dtype: float64

In [7]:
dframe1.idxmin()

One      A
Two      A
Three    B
dtype: object

In [9]:
dframe1.cumsum()

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [10]:
dframe1.describe()

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [15]:
from pandas_datareader import DataReader

/Users/ishizakikiyohiko/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [17]:
import pandas_datareader.data as pdweb
import datetime

In [19]:
# GAFAの株価をとります。
tech_list = ['GOOG','AAPL','FB','AMZN']

# 直近1年間のデータを取得。
end = datetime.now()
start = datetime(end.year - 1,end.month,end.day)

# それぞれの企業ごとに、Yahoo.comのサイトからデータを取得
for stock in tech_list:   
    # それぞれの名前でDataFrameを作ります。
    globals()[stock] = DataReader(stock,'yahoo',start,end)
# FaceBookのデータの状態を確認
FB.tail()

AttributeError: module 'datetime' has no attribute 'now'